.form-control{
    width: 40%;
    display: inline-block;
}

.mail{
    background-color: darkseagreen;
    width: 60%;
    margin: auto;
    height: 200px;
}

.gioco-dadi{
    background-color: cornflowerblue;
    width: 60%;
    margin: auto;
    height: 250px;
}

.form-control2{
    width: 10%;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
}